.modal {
  z-index: +1000;
  text-align: center;
  background: white;
  width: 300px;
  height: 200px;
}

.modal-title {
  text-align: left;
  font-size: large;
  color: black;
}

.modal-content {
  text-align: left;
  max-height: 200px;
  max-width: 300px;
}

.modal-footer > button.modal-action {
  background: purple;
  font-weight: bold;
}
